In [ ]:
n = input("please enter a number")
nuber = int(n)

if nuber % 2 == 0:
    print("n is even")
    
else:
    print("n is odd")

In [ ]:
list1 = []


if len(list1) == 0:
    print("list is empty")
else:
    print("list is not empty")


if list1:
    print("list is not empty")
else:
    print("list is empty")

In [ ]:
side_a = 10
side_b = 8 

c = side_a ** 2 + side_b ** 2
d = c ** 0.5

if side_a <= 0 or side_b <= 0:
    print("invalid numbers")

else:
    print("the hypotenuse is", d)

In [ ]:
num_1 = 100
num_2 = 20
num_3 = 50

if num_1 > num_2 and num_1 > num_3 :
    print("number 1 is largest number ")

elif num_2 > num_3 and num_2 > num_3: 
    print("number 2 is largest number ")

else:
    print("number 3 is largest number ")

In [ ]:
num_1 = 100
num_2 = 20
num_3 = 50

if num_1 > num_2 and num_1 > num_3 :
    print("number 1 is largest number ")

    if num_2 > num_3:
        print("decending order num1 num2 num3")
    else:
        print("decending order num1 num3 num2")
    

elif num_2 > num_3 and num_2 > num_3: 
    print("number 2 is largest number ")

    if num_1 > num_3:
        print("decending order num2 num1 num3")
    else:
        print("decending order num2 num3 num1")



else:
    print("number 3 is largest number ")

In [ ]:
x = 11

result  = "evan" if x % 2 == 0 else "odd"
print (result)

In [ ]:
n = -10 

result =  n if n >= 0 else -n

print (result)

In [ ]:
variable = 10 

match variable:
    case 10:
        print("value is 10")
    case 11:
        print("value is 11")
    case _:
        print( " variable is not 10 or 11")

In [ ]:
num_1 = int(input("enter a number "))

match num_1:
    case 1:
        print("monday")
    case 2:
        print("tuesday")
    case 3:
        print("thursday")
    case 4: 
        print("wednesday")
    case 5:
        print("friday")
    case 6:
        print("saturday")
    case 7:
        print("sunday")
    case _:
        print("invalid number")

In [ ]:
color = input ("Enter A Colour : ")

match color:
    case "red" | "blinking" | "Red" | "Blinking":
        print("Stop")

    case "yellow" | "Yellow":
        print("Slow Down")

    case "green" | "Green" :
        print("go")
        
    case _:
        print("invalid Color")

In [ ]:
reading = [ 1 ,4 ,6 , 7, 8 ]

match reading:
    case [ t_1 , t_2]:
        avarage_temp = (t_1 + t_2) / 2
        print("Average temp is", avarage_temp)
    case [t_1 , t_2 , t_3 , t_4]:
        diff_temp = (t_1 - t_2) - (t_3 - t_4)
        print("Diff temp is", diff_temp)
    case _:
        print("invalid reading")

In [ ]:
my_list = [ 12,5,8,9,18]

for items in my_list:
    if items % 2 == 0:
        print(items)

In [2]:
numbers = range(1,11)

for squear in numbers:
    print(squear ** 2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
number = int(input("enter a number "))

if number <= 0:
    print("enter a positive number")

else:
    for i in range(1,number):
        square_value = i ** 2
        if square_value < number:
            print(square_value)
        else:
            break

1
4
9

In [22]:
my_list = [10,8,20,9,11,13,18]

target = 22

found = False

for items in my_list:
    if items == target:
        print("found")
        found = True
        break
if not found:
    print("not found")

not found

In [ ]:
my_list = [10,8,20,9,11,13,18]

target = 22

for items in my_list:
    if items == target:
        print("found")
        break
else:
    print("not found")

In [31]:
my_list = [-10,-8,-20,-9,-11,-13,-18]

max_number = my_list[0]

for i in my_list:
    if i > max_number:
        max_number = i

print(max_number)

-8

In [ ]:
new_list = [ i ** 2  for i in range(1,11) if i % 2 == 0]

print(new_list)

[4, 16, 36, 64, 100]

In [ ]:
number = int(input("enter a number "))

if number <= 0:
    print("enter a positive number")

count = 0

while number != count +1:
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9

In [2]:
input = 9795
rev = 0

while input > 0:
    digit = input % 10 
    rev = rev * 10 + digit
    input = input // 10

print(rev)

5979