In [ ]:
sports = {"tennis","Cricket","Football"}

print(sports)

In [ ]:
sports = {"tennis","Cricket","Football","Football"}
# duplicate are not allowed
print(sports)

{'tennis', 'Cricket', 'Football'}

In [ ]:
# add single value 

sports = {"tennis","Cricket","Football"}

sports.add("rugger")

print(sports)

{'rugger', 'tennis', 'Cricket', 'Football'}

In [ ]:
#set update
sports = {"tennis","Cricket","Football"}

set_1 = {"apple","banana"}

sports.update(set_1)
print(sports)

{'tennis', 'Football', 'Cricket', 'banana', 'apple'}

In [8]:
# Add List to the set

sports = {"tennis","Cricket","Football"}

set_1 = ["apple","banana"]

sports.update(set_1)
print(sports)

{'tennis', 'Football', 'banana', 'Cricket', 'apple'}

In [12]:
list_1 = [50,60,30,40,50,25,60,30,40]

x=set(list_1)
list_1=list(x)
list_1.sort()
print(list_1)

#remove the dublicated elemengts from list one and and present the remaining eliment in accending order


print()

[25, 30, 40, 50, 60]