In [17]:
import pandas as pd
# Create a DataFrame with sample data


data = {
    "Name": ["alice", "bob", "david", "chalie"],
    "Age": [25, 30, 35, 40]
}

df = pd.DataFrame(data)
print(df)
print('')
print(df.loc[0, 'Name'])  # Access the name of the first row
print(df.iloc[1, 1])  # Access the age of the second row

print(df.iloc[0:2])
print()
print(df.iloc[2])  # Access the age of the first two rows

     Name  Age
0   alice   25
1     bob   30
2   david   35
3  chalie   40

alice
30
    Name  Age
0  alice   25
1    bob   30

Name    david
Age        35
Name: 2, dtype: object

In [ ]:
df = pd.DataFrame(data, index=['student_1', 'student_2', 'student_3', 'student_4'])
print(df)
print()

print(df.iloc[1])
print()
print(df.loc['student_3'])
print()
print(df.loc[['student_2','student_4']])

             Name  Age
student_1   alice   25
student_2     bob   30
student_3   david   35
student_4  chalie   40

Name    bob
Age      30
Name: student_2, dtype: object

Name    david
Age        35
Name: student_3, dtype: object

             Name  Age
student_2     bob   30
student_4  chalie   40

In [ ]:
print(df.columns)  # Access the columns of the DataFrame

In [30]:
print(df["Age"])  # Access the 'Age' column
print(list (df.columns))

student_1    25
student_2    30
student_3    35
student_4    40
Name: Age, dtype: int64
['Name', 'Age']

In [ ]:
print(df.values) # Access the values of the DataFrame

[['alice' 25]
 ['bob' 30]
 ['david' 35]
 ['chalie' 40]]

In [36]:
#print(df.mean())  # Calculate the mean of each column
print(df['Age'].mean())  # Calculate the mean of the 'Age' column

32.5

In [38]:
#print(df.sum())  # Calculate the sum of each column
print(df['Age'].sum())  # Calculate the sum of the 'Age' column

130

In [39]:
df['city'] = ['colombo', 'kandy', 'galle', 'matara']  # Add a new column
print(df)

             Name  Age     city
student_1   alice   25  colombo
student_2     bob   30    kandy
student_3   david   35    galle
student_4  chalie   40   matara

In [40]:
df['salary'] = [50000, 60000, 70000, 80000]  # Add another new column
print(df)

             Name  Age     city  salary
student_1   alice   25  colombo   50000
student_2     bob   30    kandy   60000
student_3   david   35    galle   70000
student_4  chalie   40   matara   80000

In [44]:
filter_df = df[df['Age'] > 30]  # Filter rows where Age is greater than 30
print(filter_df)
print()
print(type(filter_df))  # Check the type of the filtered DataFrame

             Name  Age    city  salary
student_3   david   35   galle   70000
student_4  chalie   40  matara   80000

<class 'pandas.core.frame.DataFrame'>

In [50]:
new_filtered_df = df[(df['Age'] > 28) & (df['salary'] < 65000)]  
print(new_filtered_df)

          Name  Age   city  salary
student_2  bob   30  kandy   60000

you are given the following data set representing the exam record of student in a programming cource the data includes marks for two assignment and a final exam 

StudentId Name Assignment1 Assignment2 FinalExam
1001 ayesha 78 85 90
1002 nimal  65 70 92
1003 tharindu 88 90 95
1004 kasun 50 45 60
1005 shashini 80 75 85

write a python using pandas to ,
    1. create a dataframe using the data given above
    2. display the names of all student who scored more than 80 in the final exam 
    3. compute the avarage score each student across all three and add is as a new coulmn called avarage 
    4. display the student(s) with the higest avarage student 
    5. calculate and display the total marks scored by all students in assignment 1

In [ ]:
import pandas as pd
#1
student_data = {
    "Student_id" : [1001,1002,1003,1004,1005],
    "Name" : ["ayesha","nimal","tharindu","kasun","shashini"],
    "Assignment_1" : [78,65,88,50,80],
    "Assignment_2" : [85,70,90,45,75],
    "Final_exam" : [90,72,95,60,85]
}

student_data_df = pd.DataFrame(student_data)

#2
high_marks = student_data_df[student_data_df["Final_exam"] > 80]

print(high_marks[['Name','Final_exam']])
print()

student_data_df['avarages'] = (student_data_df['Assignment_1'] + student_data_df['Assignment_2'] + student_data_df["Final_exam"]) / 3
print(student_data_df)
print()

avarage_df = student_data_df["avarages"] == student_data_df["avarages"].max()


print(student_data_df['Assignment_1'].sum())

       Name  Final_exam
0    ayesha          90
2  tharindu          95
4  shashini          85

   Student_id      Name  Assignment_1  Assignment_2  Final_exam   avarages
0        1001    ayesha            78            85          90  84.333333
1        1002     nimal            65            70          72  69.000000
2        1003  tharindu            88            90          95  91.000000
3        1004     kasun            50            45          60  51.666667
4        1005  shashini            80            75          85  80.000000

361

In [99]:
df = pd.read_csv('test.csv')
print(df)

          Name  Age Occupation
0     John Doe   30   Engineer
1   Jane Smith   25    Teacher
2  Bob Johnson   40     Doctor
3  Alice Brown   35     Artist